<div class = "container-fluid">

    <div class = "general-row">

        <div class = "general-form">

          <h2>Sign up Meow.</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, class: "form-inline" }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.text_field :first_name, placeholder: "* First Name", class: 'form-control', style: "width: 30vw;" %>
            </div>

            <br><br>

            <div class="form-group">
              <%= f.text_field :location, placeholder: "* Location", class: 'form-control', style: "width: 30vw;" %>
            </div>

            <br><br>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, placeholder: "* Email", class: 'form-control', style: "width: 30vw;" %>
            </div>

            <br><br>

            <div class="form-group">
              <%= f.password_field :password, placeholder: "* Password (8 characters min)", autocomplete: "off", class: 'form-control', style: "width: 30vw;" %>
            </div>

            <br><br>

            <div class="form-group">
              <%= f.password_field :password_confirmation, placeholder: "* Confirm Password", autocomplete: "off", class: 'form-control', style: "width: 30vw;" %>
            </div>

            <br><br>

            <div class = "form-group">

              <%= f.label "Upload Your Photo" %>
              <%= f.file_field :avatar %>

            </div>

            <br>

            <%= f.hidden_field :avatar_cache %>

            <br><br>

            <input type="checkbox" style="width: 10px; transform: scale(2); -webkit-transform: scale(2);">
            <%= f.label "I'm not a human", style: "padding-left: 20px; font-size: 1.25em;" %>

            <br><br>

            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-primary btn-md" %>
            </div>

          <% end %>

          <div class = "signin-link">

            <p>Already have an account?</p>
            <%= link_to "Log In", new_user_session_path %>

          </div>

    </div>

  </div>

</div>

