<div class = "container-fluid">

    <div class = "general-row">

        <div class = "general-form">

            <h2>What Do You Want To Review?</h2>

            <%= form_for @subject, :html => {:class => "form-inline"} do |f|%>

                <div class="form-group">

                  <%= f.text_field :name, class: 'form-control', placeholder: "* Name", style: "width: 30vw;" %>

                </div>

                <br><br>

                <div class="form-group">

                  <%= f.select :category, options_for_select(@category, selected = "Parks"), {:include_blank => "All"}, class: 'form-control', style: "width: 30vw;" %>

                </div>

                <br><br>

                <div class="form-group">

                  <%= f.text_field :address, class: 'form-control', placeholder: "Address, if any", style: "width: 30vw;" %>

                </div>

                <br><br>

                <div class="form-group">

                  <%= f.text_field :photo, class: 'form-control', placeholder: "* Photo URL", style: "width: 30vw;" %>

                </div>

                <br><br>

                <br><br>

                <div class="actions">

                    <%= f.submit "Create", :class => "btn btn-primary btn-md" %>

                </div>


            <% end %>

        </div>

    </div>

</div>