<%= image_tag @subject.photo, :class => "profile-img"%>
<%= @subject.name %>
<%= @subject.category %>
<%= @subject.address %>

<h2>Reviews</h2>

<% @subject.reviews.each do |review| %>

    <%= image_tag review.gif_response %>
    <br>
    "<%= review.text_response %>"
    <br>
    <%= review.user.first_name %>
    <br>
    <%= review.user.location %>
    <br>

    <% if review.user_id == current_user.id %>

        <%= link_to "Edit Review", edit_subject_review_path(review.subject_id, review.id) %>
        <br>
        <%= link_to "Delete Review", subject_review_path(review.subject_id, review.id), data: {confirm: "Ya sure..?"}, method: :delete %>
        <br>

    <% end %>

 <% end %>

 <%= link_to "New Review", new_subject_review_path(@subject.id) %>