<%= image_tag @subject.photo, :class => "profile-img"%>
<%= @subject.name %>
<%= @subject.category %>
<%= @subject.address %>

<h2>Reviews</h2>

<% @subject.reviews.each do |review| %>

    <%= review.rating %>
    <%= review.body %>
    <%= review.user.first_name %>
    <%= review.user.location %>

    <%= review.user_id %>

 <% end %>

 <%= link_to "New Review", new_subject_review_path(@subject.id) %>