<div class = "container-fluid">

    <div class = "general-row">

        <div class = "general-form">

            <h2>Edit Yaw Review</h2>

            <form action = "/subjects/<%= params[:subject_id] %>/reviews/edit/2" class = "form-inline" method = "post">

                <input type="hidden" name="_method" value="post">

                <input type="text" name="text_response" placeholder="Search fo any gif (Use real English)" class ="form-control" style="width: 30vw;">

                <input type="hidden" name="review_id" value="<%= @review.id %>">

                <br><br>

                <button type="submit" class="btn btn-primary btn-md" style="width: 30vw;"><span class='glyphicon glyphicon-search'></button>

            </form>

            <% if @gif != nil %>

                <br><br>
                <br><br>

                <%= @review_id%>

                <%= image_tag @gif %>

                <form action = "/subjects/<%= params[:subject_id] %>/reviews/<%= @review.id %>" class = "form-inline" method = "post">

                    <input type="hidden" name="_method" value="put">

                    <input type="hidden" name="review[text_response]" value="<%= @text_response %>">
                    <input type="hidden" name="review[gif_response]" value="<%= @gif %>">

                    <h3 class="search-result">Are you hawpy with dis gif?</h3><br>

                    <input type="submit" value="Yaas update ma review" class="btn btn-primary btn-md">

                </form>

            <% end %>

        </div>

    </div>

</div>