<div class = "container-fluid">

    <div class = "general-row">

        <div class = "general-form">

            <h2 class="search-terms">Search fo a gif that describes woof ya think about dis <%= @subject.category.singularize.downcase %></h2>

            <form action = "/subjects/<%= params[:subject_id] %>/reviews/new/2" class = "form-inline" method = "post">

                <input type="hidden" name="_method" value="post">

                <input type="text" name="text_response" placeholder="Search fo any gif (Use real English)" class ="form-control" style="width: 30vw; font-size: 1.25em;">

                <br><br>

                <button type="submit" class="btn btn-primary btn-md" style="width: 30vw;"><span class='glyphicon glyphicon-search'></button>

            </form>

            <% if @gif != nil %>

                <br><br>
                <br><br>

                <%= image_tag @gif, style: "max-width: 800px" %>

                <form action = "/subjects/<%= params[:subject_id] %>/reviews" method = "post">

                    <input type="hidden" name="_method" value="post">

                    <input type="hidden" name="review[text_response]" value="<%= @text_response %>">
                    <input type="hidden" name="review[gif_response]" value="<%= @gif %>">
                    <input type="hidden" name="review[subject_id]" value = "<%= params[:subject_id].to_s %>">
                    <input type="hidden" name="review[user_id]" value = "<%= current_user.id.to_s %>">

                    <h3 class="search-result">Is dis gif accurate of how you feel?</h3><br>

                    <input type="submit" value="Yaas submit it as ma review" class="btn btn-primary btn-md">

                </form>

            <% end %>

            <br>

        </div>

    </div>

</div>