<!DOCTYPE html>

<html>

<head>

  <title>Woof</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon.ico' %>

  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>

<body>

    <div class = "messages">

        <% if alert %>

          <p class="alert alert-danger"><%= alert %></p>

        <% end %>

    </div>

    <header>

        <nav class = "header-nav">

            <a href="/" class = "logo-link"><%= image_tag "woof_logo.png", class: "logo" %></a>

            <div class = "nav-links">

                <% if user_signed_in? %>

                <p style="font-weight: 700;">Hello, <%= current_user.first_name %>!</p>
                <%= link_to 'Edit Profile', edit_user_registration_path%>
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>

                <% else %>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login-form"}) do |f| %>

                    <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                    <%= f.submit "Log in" , class: "header-login-btn" %>
                    <%= link_to "Sign Up", new_user_registration_path, class: "header-signup-btn" %>
                    <br>
                    <% if devise_mapping.rememberable? -%>

                      <hr style="height: 1px; margin: 0; border: 0;">
                      <%= f.check_box :remember_me, id: "remember-checkbox" %>
                      <%= f.label :remember_me %>

                    <% end -%>

                    <%= link_to "Forgot Password", new_user_password_path, id: "forgot-pw" %>

                <% end %>

                <% end %>

            </div>

        </nav>

    </header>

    <%= yield %>

    <footer>

        <p class="copyright">&copy; 2015 Woof. All Rights Reserved.</p>
        <p class="credit">Made with &#9829; by <a href="http://e-l.li" target="_blank">Elli</a> in NYC.</p>

    </footer>

</body>


</html>
